:root {
  --main-color: #fffcf2;
  --second-color: #eb5e28;
  --third-color: #252422;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-color);
  color: var(--third-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 10rem;
  padding: 4rem 0;
}

img{
  width: 4rem;
}
h2 {
  color: var(--main-color);
}

.rectangle {
  background-color: var(--third-color); /* Correction: Utilisez "--third-color" au lieu de "---third-color" */
  width: 80%;
  height: 60%;
}
