name: CI

on:
  pull_request:
    branches:
      - "*"

  push:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: "Initialize environment"
        uses: actions/checkout@v3
      - name: "Setup Node.js"
        uses: actions/setup-node@v2
        with:
          node-version: "18"
      - name: "Install dependencies"
        run: npm ci
      - name: "Run eslint"
        run: npx eslint src
      - name: "Run tests"
        run: npm test
  publish:
    needs: ci
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest

    steps:
      - name: "Initialize environment"
        uses: actions/checkout@v3

      - name: "Setup Node.js"
        uses: actions/setup-node@v2
        with:
          node-version: "14"

      - name: "Install dependencies"
        run: npm install

      - name: "Publish to NPM"
        uses: JS-DevTools/npm-publish@v2
        with:
          token: ${{ secrets.NPM_TOKEN }}
